#map {
    height: 50%;
    width: 96%;
    margin: 2%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container .form {
    margin: 2%;
}

.container .form h3 {
    margin: 5px 5px 5px 0;
}

.container .form .generate {
    margin: 15px 5px 5px 0;

    border: 2px solid burlywood;
   text-align: center;


}

.container .form .generate input {
    margin-top: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 1px gray;
    width: 20%;
    height: 40px;
    vertical-align: bottom;
    font-size: 20px;
    text-align: right;

}

.container .form .generate button {
    border-width: 2px;
    margin: 0;
    padding: 0;
    background-color: wheat;
    box-shadow: 1px 1px gray;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
.container .form .generate .empty{
    margin: 10px;
}